env_files = [
    { path = ".env/mainnet.env", profile = "mainnet" },
    { path = ".env/testnet.env", profile = "testnet" },
    { path = ".env/local.env", profile = "local" },
    { path = ".env/custom.env", profile = "custom" },
    { path = ".env/local.env", profile = "development" },
]

[config]
default_to_workspace = false
skip_core_tasks = true

[env]
CARGO = "cargo"
ENGINE_CARGO_TARGET = "wasm32-unknown-unknown"
SWEEP_DAYS = 30

[tasks.sweep]
category = "Cleanup"
install_crate = "cargo-sweep"
command = "${CARGO}"
args = [
    "sweep",
    "--time",
    "${SWEEP_DAYS}",
]

[tasks.clean-cargo]
category = "Cleanup"
command = "${CARGO}"
args = ["clean"]

[tasks.clean-contracts]
category = "Cleanup"
script = '''
rm -Rf etc/eth-contracts/.pnp
rm -Rf etc/eth-contracts/artifacts
rm -Rf etc/eth-contracts/cache
rm -Rf etc/tests/benchmark-contract/target
rm -Rf etc/tests/ft-receiver/target
rm -Rf etc/tests/self-contained-5bEgfRQ/target
rm -Rf etc/xcc-router/target
'''

[tasks.clean-bin]
category = "Cleanup"
script = '''
rm -Rf bin
'''

[tasks.clean-flow]
category = "Cleanup"
dependencies = [
    "clean-cargo",
    "clean-contracts",
    "clean-bin",
]

[tasks.clean]
run_task = "clean-flow"

[tasks.fmt]
category = "Formatting"
command = "${CARGO}"
args = [
    "fmt",
    "--all",
]

[tasks.udeps]
category = "Check"
env = { "CARGO_MAKE_RUST_CHANNEL" = "nightly", "CARGO_MAKE_CRATE_INSTALLATION_LOCKED" = "true" }
install_crate = { crate_name = "cargo-udeps", binary = "cargo", min_version = "0.1.34", test_arg = ["udeps", "-h"], force = true }
command = "${CARGO}"
args = [
    "udeps",
    "--all-targets",
]

[tasks.clippy]
category = "Check"
command = "${CARGO}"
args = [
    "clippy",
    "--all-targets",
    "--",
    "-D",
    "warnings",
    "-D",
    "clippy::as_conversions",
]

[tasks.clippy-contract]
category = "Check"
command = "${CARGO}"
args = [
    "clippy",
    "--all-targets",
    "--features",
    "contract",
    "--",
    "-D",
    "warnings",
    "-D",
    "clippy::as_conversions",
]

[tasks.clippy-contract-refund]
category = "Check"
command = "${CARGO}"
args = [
    "clippy",
    "--all-targets",
    "--features",
    "contract,error_refund",
    "--",
    "-D",
    "warnings",
    "-D",
    "clippy::as_conversions",
]

[tasks.clippy-borsh-compat]
category = "Check"
command = "${CARGO}"
args = [
    "clippy",
    "-p",
    "aurora-engine-types",
    "--all-targets",
    "--features",
    "borsh-compat",
    "--",
    "-D",
    "warnings",
    "-D",
    "clippy::as_conversions",
]

[tasks.check-fmt]
category = "Check"
command = "${CARGO}"
args = [
    "fmt",
    "--",
    "--check",
]

[tasks.check-contracts]
category = "Check"
script = '''
cd etc/eth-contracts
yarn
yarn lint
'''

[tasks.check]
category = "Check"
dependencies = [
    "check-contracts",
    "check-fmt",
    "clippy",
    "clippy-contract",
    "clippy-contract-refund",
    "clippy-borsh-compat",
    "udeps",
]

[tasks.post-engine-build-env]
category = "Tools"
script = '''
echo "Environment:"
echo "    CARGO_MAKE_PROFILE:   ${CARGO_MAKE_PROFILE}"
echo "    IS_PROD:              ${IS_PROD}"
echo "    CARGO_FEATURES:       ${CARGO_FEATURES}"
echo "    WASM_FILE:            ${WASM_FILE}"
echo "    SIZE_WASM_FILE:       $(du -h bin/${WASM_FILE} | cut -f1)"
echo "    TARGET_DIR:           ${TARGET_DIR}"
echo "    RUSTFLAGS:            ${RUSTFLAGS}"
echo "    Extra build args:     ${RELEASE} ${@}"
'''

[tasks.post-xcc-router-build-env]
category = "Tools"
script = '''
echo "Environment:"
echo "    CARGO_MAKE_PROFILE:   ${CARGO_MAKE_PROFILE}"
echo "    IS_PROD:              ${IS_PROD}"
echo "    CARGO_FEATURES:       ${CARGO_FEATURES}"
echo "    WASM_FILE:            ${XCC_ROUTER_WASM_FILE}"
echo "    SIZE_WASM_FILE:       $(du -h bin/${XCC_ROUTER_WASM_FILE} | cut -f1)"
echo "    TARGET_DIR:           ${TARGET_DIR}"
echo "    RUSTFLAGS:            ${RUSTFLAGS}"
echo "    Extra build args:     ${RELEASE} ${@}"
'''

[tasks.copy-engine-build]
category = "Post"
command = "cp"
args = [
    "target/wasm32-unknown-unknown/${TARGET_DIR}/aurora_engine.wasm",
    "bin/${WASM_FILE}",
]

[tasks.copy-xcc-router-build]
category = "Post"
command = "cp"
args = [
    "etc/xcc-router/target/wasm32-unknown-unknown/${TARGET_DIR}/xcc_router.wasm",
    "bin/${XCC_ROUTER_WASM_FILE}",
]

[tasks.make-bin-directory]
category = "Post"
command = "mkdir"
args = [
    "-p",
    "bin",
]

[tasks.build-contracts]
category = "Build"
script = '''
cd etc/eth-contracts
yarn
yarn build
'''

[tasks.build-engine]
category = "Build"
command = "${CARGO}"
args = [
    "build",
    "--target",
    "${ENGINE_CARGO_TARGET}",
    "@@remove-empty(RELEASE)",
    "--no-default-features",
    "--features=${CARGO_FEATURES}",
    "-p",
    "aurora-engine",
    "-Z",
    "avoid-dev-deps",
    "${@}",
]

[tasks.build-xcc-router]
category = "Build"
script = '''
cd etc/xcc-router
cargo build --verbose --target ${ENGINE_CARGO_TARGET} -Z avoid-dev-deps ${@} --release
cd ../..
'''

[tasks.build-engine-flow]
category = "Build"
dependencies = [
    "build-contracts",
    "build-engine",
    "make-bin-directory",
    "copy-engine-build",
    "post-engine-build-env",
]

[tasks.build-engine-flow-docker]
category = "Build"
dependencies = [
    "build-engine",
    "make-bin-directory",
    "copy-engine-build",
    "post-engine-build-env",
]

[tasks.build-xcc-router-flow-docker]
category = "Build"
dependencies = [
    "build-xcc-router",
    "make-bin-directory",
    "copy-xcc-router-build",
    "post-xcc-router-build-env",
]

[tasks.build-test]
condition = { profiles = ["mainnet", "testnet", "custom"] }
env = { "RUSTFLAGS" = "${RUSTC_FLAGS_BUILD}", "CARGO_FEATURES" = "${CARGO_FEATURES_BUILD_TEST}", "WASM_FILE" = "${WASM_FILE_TEST}", "RELEASE" = "--release", "TARGET_DIR" = "release" }
category = "Build"
run_task = "build-engine-flow"

[tasks.wasm-opt-test]
category = "Build"
script = '''
  filesize_before=$(wc -c bin/aurora-mainnet-test.wasm | awk '{print $1}')
  wasm-opt -O4 bin/aurora-mainnet-test.wasm -o bin/aurora-mainnet-test.wasm --strip-debug --vacuum
  filesize_after=$(wc -c bin/aurora-mainnet-test.wasm | awk '{print $1}')
  echo "File size before: [$filesize_before] and after: [$filesize_after]"
'''

[tasks.build]
condition = { profiles = ["mainnet", "testnet", "localnet", "development", "custom"] }
env = { "RUSTFLAGS" = "-C strip=symbols --remap-path-prefix ${HOME}=/path/to/home/ --remap-path-prefix ${PWD}=/path/to/source/", "CARGO_FEATURES" = "${CARGO_FEATURES_BUILD}", "RELEASE" = "--release", "TARGET_DIR" = "release" }
category = "Build"
run_task = "build-engine-flow"

[tasks.build-docker-inner]
condition = { profiles = ["mainnet", "testnet", "localnet", "development", "custom"] }
env = { "RUSTFLAGS" = "-C strip=symbols --remap-path-prefix ${HOME}=/path/to/home/ --remap-path-prefix ${PWD}=/path/to/source/", "CARGO_FEATURES" = "${CARGO_FEATURES_BUILD}", "RELEASE" = "--release", "TARGET_DIR" = "release" }
category = "Build"
run_task = "build-engine-flow-docker"

[tasks.build-docker]
category = "Build"
script = '''
docker run --volume $PWD:/host -w /host -i --rm nearprotocol/contract-builder:master-de975ed75e0f6a840c7aeb57e3414959cb59bc00-amd64 ./scripts/docker-entrypoint.sh ${PROFILE}
'''

[tasks.build-xcc-router-docker-inner]
condition = { profiles = ["mainnet", "testnet"] }
env = { "RUSTFLAGS" = "-C strip=symbols --remap-path-prefix ${HOME}=/path/to/home/ --remap-path-prefix ${PWD}=/path/to/source/", "CARGO_FEATURES" = "${CARGO_FEATURES_BUILD}", "RELEASE" = "--release", "TARGET_DIR" = "release" }
category = "Build"
run_task = "build-xcc-router-flow-docker"

[tasks.build-xcc-docker]
category = "Build"
script = '''
docker run --volume $PWD:/host -w /host -i --rm nearprotocol/contract-builder:master-de975ed75e0f6a840c7aeb57e3414959cb59bc00-amd64 ./scripts/docker-xcc-router-entrypoint.sh ${PROFILE}
'''

[tasks.test-contracts]
category = "Test"
script = '''
cd etc/eth-contracts
yarn
yarn test
'''

[tasks.test-workspace]
condition = { profiles = ["mainnet", "testnet", "custom"] }
category = "Test"
command = "${CARGO}"
args = [
    "test",
    "--features",
    "${CARGO_FEATURES_TEST}",
]

[tasks.bench-modexp-test]
condition = { profiles = ["mainnet", "testnet", "custom"] }
category = "Test"
command = "${CARGO}"
args = [
    "test",
    "--release",
    "--features",
    "${CARGO_FEATURES_TEST}",
    "bench_m",
    "--",
    "--ignored",
]

[tasks.test-flow]
category = "Test"
dependencies = [
    "build-test",
    "wasm-opt-test",
    "test-contracts",
    "test-workspace",
    "bench-modexp",
]

[tasks.bench-modexp]
category = "Test"
dependencies = [
    "build-test",
    "bench-modexp-test",
]

[tasks.test]
category = "Test"
dependencies = [
    "test-flow",
    "bench-modexp-test",
]

[tasks.default]
condition = { profiles = ["mainnet", "testnet", "localnet", "development", "custom"] }
run_task = "build"

[tasks.deploy]
condition = { profiles = ["mainnet", "testnet", "localnet", "development", "custom"] }
category = "Deploy"
script = "${NEAR_CLI} deploy --acount-id${NEAR_EVM_ACCOUNT} --wasm-file=bin/${WASM_FILE}"
