[package]
name = "aurora-engine-types"
version = "1.0.0"
authors = ["Aurora Labs <hello@aurora.dev>"]
edition = "2021"
description = ""
documentation = ""
readme = true
homepage = "https://github.com/aurora-is-near/aurora-engine"
repository = "https://github.com/aurora-is-near/aurora-engine"
license = "CC0-1.0"
publish = false
autobenches = false

[dependencies]
borsh = "0.8.2"
ethabi = { git = "https://github.com/darwinia-network/ethabi", branch = "xavier-no-std", default-features = false }
hex = "0.4"
primitive-types = { version = "0.10.0", default-features = false, features = ["rlp"] }
sha3 = { version = "0.9.1", default-features = false }
serde = { version = "1", features = ["derive"], optional = true }

[dev-dependencies]
bstr = "0.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
rand = "0.7.3"

[features]
impl-serde = ["primitive-types/impl-serde", "serde"]
