[package]
name = "aurora-engine-precompiles"
version = "1.0.0"
authors.workspace = true
edition.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
autobenches = false

[dependencies]
aurora-engine-modexp.workspace = true
aurora-engine-sdk.workspace = true
aurora-engine-types.workspace = true
bn.workspace = true
ethabi.workspace = true
evm = { workspace = true, optional = true }
revm = { workspace = true, optional = true }
hex.workspace = true
libsecp256k1 = { workspace = true, features = ["static-context", "hmac"] }
num.workspace = true
ripemd.workspace = true
sha2.workspace = true
sha3.workspace = true
auto_impl = "1.2"

[dev-dependencies]
aurora-engine-test-doubles.workspace = true
rand.workspace = true
serde.workspace = true
serde_json.workspace = true

[features]
default = ["std"]
std = ["precompiles-revm", "aurora-engine-types/std", "aurora-engine-sdk/std", "bn/std", "evm/std", "libsecp256k1/std", "ripemd/std", "sha2/std", "sha3/std", "ethabi/std"]
contract = ["precompiles-revm", "aurora-engine-sdk/contract"]
log = []
error_refund = []
ext-connector = []
precompiles-sputnikvm = ["evm"]
precompiles-revm = ["revm"]
