name: Security audit
on:
  schedule:
    - cron: '0 8 * * *'
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

jobs:
  audit:
    runs-on: ubuntu-latest
    env:
      RUSTUP_TOOLCHAIN: stable
    permissions:
      checks: write
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v6
      - uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
