---
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
name: Build
jobs:
  build:
    name: Build contracts
    runs-on: k8s-worker-8
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Compile smart contracts
        run: |
          cargo make build-docker
          cargo make build-xcc-docker
      - run: ls -lH bin
      - name: Upload contract artifacts
        uses: actions/upload-artifact@v4
        with:
          path: bin/aurora*.wasm

  publish:
    name: Publish contracts
    runs-on: k8s-worker-2
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
      - run: ls -lH artifact
      - name: Publish contracts for ${{ github.ref }} release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ github.ref }}
          file: artifact/aurora*.wasm
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          overwrite: true
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
