---
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
name: Build
jobs:
  build:
    name: Build contracts
    runs-on: github-hosted-heavy-runner
    strategy:
      matrix:
        profile: [ mainnet, mainnet-silo, testnet, testnet-silo ]
    steps:
      - name: Potential broken submodules fix
        run: |
          git checkout -f $(git -c user.name=x -c user.email=x@x commit-tree $(git hash-object -t tree /dev/null) < /dev/null) || :
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install cargo-make
        run: cargo install --no-default-features --force cargo-make
      - name: Compile smart contracts
        run: |
          cargo make --profile ${{ matrix.profile }} build-docker
          cargo make --profile ${{ matrix.profile }} build-xcc-docker
      - run: ls -lH bin/aurora-*${{ matrix.profile }}.wasm
      - name: Upload aurora-${{ matrix.profile }}.wasm artifact
        uses: actions/upload-artifact@v3
        with:
          name: contracts
          path: bin/aurora*${{ matrix.profile }}.wasm

  publish:
    name: Publish contracts
    runs-on: github-hosted-heavy-runner
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - run: ls -la contracts
      - name: Publish contracts for ${{ github.ref }} release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ github.ref }}
          file: contracts/aurora*.wasm
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
