---
on:
  push:
    branches:
      - master
name: Build
jobs:
  release:
    name: Release
    runs-on: [self-hosted, heavy]
    strategy:
      matrix:
        profile: [mainnet, testnet]
    steps:
      - name: Potential broken submodules fix
        run: |
          git checkout -f $(git -c user.name=x -c user.email=x@x commit-tree $(git hash-object -t tree /dev/null) < /dev/null) || :
      - name: Clone the repository
        uses: actions/checkout@v3
      - run: cargo make --profile ${{ matrix.profile }} build-docker
      - run: cargo make --profile ${{ matrix.profile }} build-xcc-docker
      - run: ls -lH bin/aurora-${{ matrix.profile }}.wasm
      - run: ls -lH bin/aurora-factory-${{ matrix.profile }}.wasm
      - name: Upload the aurora-${{ matrix.profile }}.wasm artifact
        uses: actions/upload-artifact@v2
        with:
          name: aurora-${{ matrix.profile }}.wasm
          path: bin/aurora-${{ matrix.profile }}.wasm
      - name: Update the latest releases
        uses: svenstaro/upload-release-action@v2
        with:
          tag: latest
          file: bin/aurora*-${{ matrix.profile }}.wasm
          overwrite: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
      - name: Update the latest tag
        uses: EndBug/latest-tag@latest
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
