---
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
name: Build
jobs:
  build:
    name: Build contracts
    runs-on: runs-on=${{ github.run_id }}/runner=rust-near-integration-special-48cpu-96gb
    steps:
      - name: Setup RunsOn
        uses: runs-on/action@v2
        with:
          metrics: cpu,network,memory,disk,io
      - name: Clone the repository
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Install dependencies
        run: scripts/ci-deps/install-wasm-opt.sh
      - name: Install cargo-make
        run: cargo +stable make -V || cargo +stable install cargo-make
      - name: Compile smart contracts
        run: |
          cargo make build-docker
          cargo make build-xcc-docker
      - run: ls -lH bin
      - name: Upload contract artifacts
        uses: actions/upload-artifact@v4
        with:
          path: bin/aurora*.wasm

  publish:
    name: Publish contracts
    runs-on: runs-on=${{ github.run_id }}/runner=rust-near-integration-special-48cpu-96gb
    needs: build
    steps:
      - name: Setup RunsOn
        uses: runs-on/action@v2
        with:
          metrics: cpu,network,memory,disk,io
      - name: Download artifacts
        uses: actions/download-artifact@v4
      - run: ls -lH artifact
      - name: Publish contracts for ${{ github.ref }} release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ github.ref }}
          file: artifact/aurora*.wasm
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          overwrite: true
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
