---
on:
  push:
    branches:
      - master
      - develop
  pull_request:

name: Lints
jobs:
  rust:
    name: Run ${{ matrix.command }}
    runs-on: k8s-worker-8
    strategy:
      fail-fast: false
      matrix:
        command: [ check-fmt, clippy, udeps ]
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: aurora-${{ matrix.command }}-check
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Install dependencies
        run: scripts/ci-deps/native.sh
      - name: Run ${{ matrix.command }}
        run: cargo make ${{ matrix.command }}

  contracts:
    name: Contracts
    runs-on: k8s-worker-8
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: |
            etc/eth-contracts/yarn.lock
            etc/tests/uniswap/yarn.lock
      - name: Run yarn lint
        run: cargo make check-contracts
      - name: Check committed EvmErc20.bin
        run: bash scripts/verify_evm_erc20.sh

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
