---
on:
  schedule:
    - cron: '0 8 * * 1-5'
  pull_request:

name: Scheduled checks
jobs:
  tests:
    name: Run tests (${{ matrix.version }} neard)
    runs-on: github-hosted-heavy-runner
    strategy:
      fail-fast: false
      matrix:
        version: [ mainnet, testnet ]
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false
          toolchain: stable
          override: false
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{matrix.version}}
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: |
            etc/eth-contracts
            etc/tests/uniswap
      - name: Build actual neard-sandbox
        run: scripts/build-neard-sandbox.sh ${{ matrix.version }}
      - name: Install wasm-opt
        run: scripts/ci-deps/install-wasm-opt.sh
      - name: Run tests
        run: cargo make test
      - uses: 8398a7/action-slack@v3
        if: failure()
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,job,took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  checks:
    name: Run checks
    runs-on: selfhosted
    container: rust:latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: "true"
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Run checks
        run: cargo make check
      - name: Run build XCC router
        run: cargo make build-xcc-router
      - uses: 8398a7/action-slack@v3
        if: failure()
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,job,took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
