---
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - "*"

name: Tests
jobs:
  test:
    strategy:
      matrix:
        net: [main, test, beta]
    name: Test suite (${{ matrix.net }}net)
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Restore cache
        run: |
          cache-util restore cargo_git cargo_registry sccache yarn_cache
          cache-util restore aurora-engine-target@${{ matrix.net }}net@${{ hashFiles('**/Cargo.lock') }}:target
      - run: make ${{ matrix.net }}net-test-build
      - name: List directories
        run: |
          ls -la target/wasm32-unknown-unknown/release
          ls -la
      - run: cargo test --features ${{ matrix.net }}net-test
#      - run: make test-${{ matrix.net }}net
#      - run: rm -rf target/solidity_build/
#      - run: rm -rf etc/eth-contracts/res
      - name: Save cache
        run: |
          cache-util save cargo_git cargo_registry sccache yarn_cache
          cache-util msave aurora-engine-target@${{ matrix.net }}net@${{ hashFiles('**/Cargo.lock') }}:target
  bully-build:
    name: Bully build
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Restore cache
        run: |
          cache-util restore cargo_git cargo_registry sccache yarn_cache
          cache-util restore aurora-engine-target@bully@${{ hashFiles('**/Cargo.lock') }}:target
      - run: make mainnet-debug evm-bully=yes
      - run: ls -lH mainnet-debug.wasm
#      - run: rm -rf target/solidity_build/
#      - run: rm -rf etc/eth-contracts/res
      - name: Save cache
        run: |
          cache-util save cargo_git cargo_registry sccache yarn_cache
          cache-util msave aurora-engine-target@bully@${{ hashFiles('**/Cargo.lock') }}:target
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTC_WRAPPER: sccache
