---
on: [push, pull_request]
name: Tests
jobs:
  test:
    strategy:
      matrix:
        net: [main, test, beta]
    name: Test suite (${{ matrix.net }}net)
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Restore cache
        run: |
          cache-util restore cargo_git cargo_registry sccache yarn_cache
          cache-util restore aurora-engine-target@${{ matrix.net }}net@${{ hashFiles('**/Cargo.lock') }}:target
      - run: rm -rf target/solidity_build/
      - run: make test-${{ matrix.net }}net
      - name: Save cache
        run: |
          cache-util save cargo_git cargo_registry sccache yarn_cache
          cache-util msave aurora-engine-target@${{ matrix.net }}net@${{ hashFiles('**/Cargo.lock') }}:target
  bully-build:
    name: Bully build
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Restore cache
        run: |
          cache-util restore cargo_git cargo_registry sccache yarn_cache
          cache-util restore aurora-engine-target@bully@${{ hashFiles('**/Cargo.lock') }}:target
      - run: rm -rf target/solidity_build/
      - run: make mainnet-debug evm-bully=yes
      - run: ls -lH mainnet-debug.wasm
      - name: Save cache
        run: |
          cache-util save cargo_git cargo_registry sccache yarn_cache
          cache-util msave aurora-engine-target@bully@${{ hashFiles('**/Cargo.lock') }}:target
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTC_WRAPPER: sccache
