---
on: [push, pull_request]
name: Tests
jobs:
  test:
    name: Test suite
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Prepare target directory
        run: |
          rm -rf target && mkdir target
          ln -s ~/build-cache/aurora-engine/debug/ target/debug
          ln -s ~/build-cache/aurora-engine/release/ target/release
      - name: Install the toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-03-25
          override: true
      - run: make mainnet-test-build
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --verbose --features mainnet-test
  bully-build:
    name: Bully build
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Prepare target directory
        run: |
          rm -rf target && mkdir target
          ln -s ~/build-cache/aurora-engine-bully/debug/ target/debug
          ln -s ~/build-cache/aurora-engine-bully/release/ target/release
      - name: Install the toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-03-25
          override: true
      - run: make mainnet-debug evm-bully=yes
      - run: ls -lH mainnet-debug.wasm
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTC_WRAPPER: sccache
