---
on:
  push:
    branches:
      - master
      - develop
  pull_request:
  workflow_dispatch:

name: Tests
jobs:
  test:
    name: Test suite
    runs-on: runs-on=${{ github.run_id }}/runner=rust-near-integration-special-64cpu-256gb
    steps:
      - name: Setup RunsOn
        uses: runs-on/action@v2
        with:
          metrics: cpu,network,memory,disk,io
      - name: Clone the repository
        uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: aurora-cargo-tests
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Install Yarn
        run: npm install -g yarn
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: |
            etc/eth-contracts/yarn.lock
            etc/tests/uniswap/yarn.lock
      - name: Install cargo-make
        run: cargo +stable make -V || cargo +stable install cargo-make
      - name: Install wasm-opt
        run: scripts/ci-deps/install-wasm-opt.sh
      - name: Run tests
        run: cargo make test-flow
        env:
          RUST_TEST_THREADS: 32 # decrease the number of the test threads to reduce the overall load on the VM and prevent the occasional failure of the tests.

  test_modexp:
    name: Test modexp suite
    runs-on: runs-on=${{ github.run_id }}/runner=rust-near-integration-special-48cpu-96gb
    container: rust:latest
    steps:
      - name: Setup RunsOn
        uses: runs-on/action@v2
        with:
          metrics: cpu,network,memory,disk,io
      - name: Clone the repository
        uses: actions/checkout@v6
      #      - name: Install dependencies
      #        run: scripts/ci-deps/native.sh
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: aurora-modexp-tests
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Install Yarn
        run: npm install -g yarn
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: |
            etc/eth-contracts/yarn.lock
            etc/tests/uniswap/yarn.lock
      - name: Install cargo-make
        run: cargo +stable make -V || cargo +stable install cargo-make
      - name: Run bench-modexp tests
        run: cargo make bench-modexp

  build_xcc_router:
    name: Build XCC router
    runs-on: runs-on=${{ github.run_id }}/runner=rust-near-integration-special-48cpu-96gb
    container: rust:latest
    steps:
      - name: Setup RunsOn
        uses: runs-on/action@v2
        with:
          metrics: cpu,network,memory,disk,io
      - name: Clone the repository
        uses: actions/checkout@v6
      #      - name: Install dependencies
      #        run: scripts/ci-deps/native.sh
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: cargo-build-xcc-router
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Install cargo-make
        run: cargo +stable make -V || cargo +stable install cargo-make
      - name: Build XCC router
        run: cargo make build-xcc-router

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
