---
on:
  push:
    branches:
      - master
      - develop
  pull_request:

name: Tests
jobs:
  test:
    name: Test suite
    runs-on: k8s-infrastructure-dind  # strong main container and weak docker container
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install ci deps
        run: |
          sudo scripts/ci-deps/native.sh
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: aurora-cargo-tests
          cache-on-failure: "true"
          cache-all-crates: "true"
      - uses: dtolnay/rust-toolchain@stable
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: |
            etc/eth-contracts
            etc/tests/uniswap
      - name: Install dependencies
        run: sudo cargo +stable install cargo-make
      - name: Tests
        run: sudo cargo make test-flow

  test_modexp:
    name: Test modexp suite
    runs-on: k8s-infrastructure-native
    container:
      image: rust:latest
    steps:
      - name: Potential broken submodules fix
        run: |
          git checkout -f $(git -c user.name=x -c user.email=x@x commit-tree $(git hash-object -t tree /dev/null) < /dev/null) || :
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: scripts/ci-deps/native.sh
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: aurora-modexp-tests
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Install dependencies
        run: cargo +stable make -V || cargo +stable install cargo-make
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Test bench-modexp
        run: cargo make bench-modexp

  build_xcc_router:
    name: Build XCC router
    runs-on: k8s-infrastructure-native
    container:
      image: rust:latest
    steps:
      - name: Potential broken submodules fix
        run: |
          git checkout -f $(git -c user.name=x -c user.email=x@x commit-tree $(git hash-object -t tree /dev/null) < /dev/null) || :
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: scripts/ci-deps/native.sh
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: cargo-build-xcc-router
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Install dependencies
        run: cargo +stable make -V || cargo +stable install cargo-make
      - name: Build
        run: cargo make build-xcc-router

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
