---
on: [push, pull_request]
name: Tests
jobs:
  test:
    strategy:
      matrix:
        net: [main, test, beta]
    name: Test suite (${{ matrix.net }}net)
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - run: make ${{ matrix.net }}net-test-build
      - name: Run ${{ matrix.net }}net cargo test
        run: cargo test --locked --verbose --features ${{ matrix.net }}net-test
  bully-build:
    name: Bully build
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - run: make mainnet-debug evm-bully=yes
      - run: ls -lH mainnet-debug.wasm
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTC_WRAPPER: sccache
