---
on: [push, pull_request]
name: Tests
jobs:
  test:
    name: Test suite
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Install the toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-03-25
          override: true
      - run: make test-build
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --verbose --features meta-call
  bully-build:
    name: Bully build
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Install the toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-03-25
          override: true
      - run: make evm-bully=yes
      - run: ls -lH release.wasm
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
