---
on:
  push:
    branches:
      - master
      - develop
  pull_request:

name: Tests
jobs:
  test:
    name: Test suite
    runs-on: k8s-worker-8  # strong main container and weak docker container
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo scripts/ci-deps/install-wasm-opt.sh
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: aurora-cargo-tests
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: |
            etc/eth-contracts
            etc/tests/uniswap
      - name: Run tests
        run: cargo make test-flow

  test_modexp:
    name: Test modexp suite
    runs-on: k8s-worker-8
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo scripts/ci-deps/install-wasm-opt.sh
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: aurora-modexp-tests
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Setup Node and cache
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Run bench-modexp tests
        run: cargo make bench-modexp

  build_xcc_router:
    name: Build XCC router
    runs-on: k8s-worker-4
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo scripts/ci-deps/install-wasm-opt.sh
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: cargo-build-xcc-router
          cache-on-failure: "true"
          cache-all-crates: "true"
      - name: Build XCC router
        run: cargo make build-xcc-router

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
